CL1/node_modules/*
HW2/node_modules
HW2/dist/bundle.js
HW2/src/bundle.js
CL4/node_modules
CL2/node_modules
CL3/node_modules
HW3/node_modules
API/Codebase/API/node_modules
API/Vagrant/.vagrant

API/Codebase/API/uploads/*
Front-end/node_modules
